<% if @restaurants.any? %>
<% @restaurants.each do |restaurant| %>
	<%= restaurant.name %><a href="/restaurants/<%= restaurant.id %>/edit">Edit <%= restaurant.name %></a>
	<% end %>
<% else %>
	No restaurants yet
<% end %>